body{
font-family:Arial;
background:#0f172a;
color:white;
margin:0;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.dashboard{
padding:80px 10%;
}

.stats{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.box{
background:#1e293b;
padding:30px;
border-radius:10px;
transition:.4s;
}

.box:hover{
transform:scale(1.1);
}

.projects{
padding:80px 10%;
}

.card{
background:#1e293b;
padding:30px;
margin-bottom:20px;
border-radius:10px;
}

button{
padding:10px 20px;
background:#4f46e5;
color:white;
border:none;
border-radius:6px;
}

.contact{
padding:80px 10%;
}

input,textarea{
width:100%;
padding:12px;
margin:10px 0;
}
